* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, san-serif;
  color: black;
  background: white;
}

/* Variables for css styling */
:root {
  --container_width: clamp(480px, 60%, 1280px);
  --inner_container_width: 100%;
  --top_container_height: 16vh;
  --bottom_container_height: 84vh;
  --bgColor_more_cthru: rgba(255, 255, 255, 0.3);
  --bgColor_medium_cthru: rgba(255, 255, 255, 0.7);
  --bgColor_seethru: rgba(0, 0, 0, 0);
  --mainTitle_color: rgba(0, 255, 247, 1);
  --css_visual_border_guide: 1px solid MediumVioletRed;
}

/* NOTE: The following is how to place a bg img 
*        at the center, the image will cover 
*        the container, no repeat of the image. 
**/
body {
  background-image: url("main_bg_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main.container {
  width: var(--container_width);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor_seethru);
  background-image: linear-gradient(
    to right,
    var(--bgColor_seethru) 0%,
    rgba(0, 202, 255, 0.2) 2%,
    rgba(0, 202, 255, 0.3) 50%,
    rgba(0, 202, 255, 0.2) 98%,
    var(--bgColor_seethru) 100%
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.top.container {
  width: var(--inner_container_width);
  height: var(--top_container_height);
  background-color: var(--bgColor_seethru);
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.5em;
  font-family: Garamond;
  color: var(--mainTitle_color);
  text-shadow: 2px 2px #0018f0;
  margin: 0.3em auto 0 auto;
  background-color: var(--bgColor_seethru);
  background-image: linear-gradient(
    to right,
    var(--bgColor_seethru) 0%,
    rgba(255, 255, 255, 0.2) 8%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.2) 92%,
    var(--bgColor_seethru) 100%
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.navBtnCnt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;
  margin-top: 0.8em;
  background-color: var(--bgColor_seethru);
}

button.links {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.2em 1em;
  background-color: var(--bgColor_seethru);
  background-image: linear-gradient(
    to right,
    var(--bgColor_seethru) 0%,
    rgba(255, 255, 255, 0.4) 8%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.4) 92%,
    var(--bgColor_seethru) 100%
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
}

button:hover {
  background-color: var(--bgColor_seethru);
  background-image: linear-gradient(
    to right,
    var(--bgColor_seethru) 0%,
    rgba(255, 255, 255, 0.6) 2%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.6) 98%,
    var(--bgColor_seethru) 100%
  );
  transition: 0.8s;
}

button:not(:hover) {
  background-color: var(--bgColor_seethru);
  background-image: linear-gradient(
    to right,
    var(--bgColor_seethru) 0%,
    rgba(255, 255, 255, 0.4) 8%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.4) 92%,
    var(--bgColor_seethru) 100%
  );
  transition: 0.8s;
}

.content.container {
  width: 100%;
  height: 85vh;
  border: 1px solid MediumVioletRed;
}
