* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, san-serif;
  color: black;
  background: white;
}

/* Variables for css styling */
:root {
  --container_width: clamp(480px, 60%, 1280px);
}

.main.container {
  /* width: clamp(480px, 60%, 1280px); */
  width: var(--container_width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.top.container {
  width: 100%;
  height: 15vh;
  border: 1px solid MediumVioletRed;
}

.content.container {
  width: 100%;
  height: 85vh;
  border: 1px solid MediumVioletRed;
}
