/* style.about.page.css - restaurant webpage */

.subContent.aboutDesc {
  margin-top: 5.2em;
}

#customerContactForm {
  background-color: var(--bgColor_seethru);
  background-image: linear-gradient(
    to right,
    var(--bgColor_seethru) 0%,
    rgba(255, 255, 255, 0.6) 5%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.6) 95%,
    var(--bgColor_seethru) 100%
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.transparentBG {
  background-color: var(--bgColor_seethru);
}

fieldset {
  border: 1px solid transparent;
}

